.product-grid-container {
    padding-top: 30px;

    margin: 0 auto;
    overflow: hidden;
}
.product-grid-container h1 {
    
    height: 50px;
    width: inherit;
    background-color: rgb(248, 245, 236);
    z-index: 100;
}

.product-grid-items {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 2px solid red;
}

